/******** Layout          ********/
div.separator { clear:both; }
div.extra { clear:left; }
div.wrapper { clear:both; float:left; width:100%; }

/* Common layout */
.ia-header {
  direction: rtl;
  text-align:center;
  padding: @vrythm @gutter (@vrythm*1 - @border) @gutter;
  margin: 0 0 @vrythm 0;
  border-bottom: @border solid @c5;
  background: @c2;
  & * {
    direction: ltr  ;
  }
  .ia-header_title {
    display: inline-block;
    vertical-align: top;
    h1 {
      font-size: @basefontsize*4;
      line-height: @vrythm*5;
    }
    nav {
      font-size: @basefontsize*4;
      line-height: @vrythm*4;
    }
  }
  &.ia-header--reduced .ia-header_title {
    h1 {
      font-size: @basefontsize*3;
      line-height: @vrythm*3;
    }
    nav {
      font-size: @basefontsize*2;
      line-height: @vrythm*2;
      text-align:left;
    }
  }

  .ia-menu {
    display: inline-block;
    vertical-align: top;
    border-right: @border solid @c3;
    padding-right: @gutter - @border;
    margin-right: @gutter - @border;
    font-size: @basefontsize*2;
    line-height: @vrythm*2;
    .ia-menu__body, .ia-menu__item {
      display:block;
      list-style-type: none;
      text-align: right;
      a {
        text-decoration:none;
        color: @c3;
        &.selected:before {
          content:'> ';
        }
      }
    }
  }

  .ia-flags {
    font-size: @basefontsize*2;
    line-height:@vrythm*2;
  }
}
.ia-content--main {
  max-width: @gutter*45;
  margin:0 auto;
  padding:0 @gutter;
}
.ia-footer {
  padding: @vrythm @gutter;
  text-align:center;
}

/* S : 1 column : */
@media screen and (max-width: (@M + @gutter * 2 - @RWDSec)) {
  head link { content:'S'; }
  .ia-header, .ia-header.ia-header--reduced {
    .ia-header_title {
      h1 {
        font-size: @basefontsize*1.5;
        line-height: @vrythm*2;
      }
    }
  }
  .ia-menu {
    .ia-menu__title {
      font-size: @basefontsize*5;
      line-height: @vrythm*5;
    }
  }
  .ia-header:not(.ia-header--reduced) {
    .ia-flags {
      margin: @vrythm*2 0 0 0;
    }
  }
  .ia-flags {
    .ia-flags__body {
      text-align:center;
    }
  }
  .ia-content h2 { font-size:@basefontsize*2; }
  .ia-content h3 { font-size:@basefontsize*1.8; }
  .ia-content p { text-align:left; }
}
/* n+1 columns */
@media screen and (min-width: (@M + @gutter * 2)) {
}


/* M : 2 columns */
@media screen and (min-width: (@M + @gutter * 2)) and (max-width: (@L + @gutter * 2 - @RWDSec)) {
  head link { content:'M'; }
}
/* n+2 columns */
@media screen and (min-width: (@L + @gutter * 2)) {
}


/* L : 3 columns */
@media screen and (min-width: (@L + @gutter * 2)) and (max-width: (@XL + @gutter * 2 - @RWDSec)) {
  head link { content:'L'; }
}


/* XL : 4 columns */
@media screen and (min-width: (@XL + @gutter * 2)) {
  head link { content:'XL'; }
}
