/* Colors */
@warning: #ffcccc;
@error: #ff0000;
@sucess: #538838;

/* Main */
@content_link_color: #ffbbff;
@content_bg: #ffbbff;
@content_color: #ffbbff;
@content_bg: #ffbbff;
@button_bg: #008080;
@button_color: #FFF;
@title_color: #008080;
@subtitle_color: #008080;
/* Aside */

/* Layout */
@column: 18rem;
@gutter: 1rem;
@vrythm: 1.2rem;
@border: 0.1rem;

/* RWD */
@RWDSec: 0.0000000001rem;
@M: (@column * 2 + @gutter * 1);
@L: (@column * 3 + @gutter * 2);
@XL: (@column * 4 + @gutter * 3);
