/******** Reset               ********/
@import "_reset.less";

/******** Mixins             ********/
@import "mixins/_common.less";

/******** Good basis         ********/
html { font-size: 16px; }
html, body { height:100%; }
body { font-size: @basefontsize; line-height:@vrythm; }
* { box-sizing: border-box; }

/******** Modules             ********/
@import "_vars.less";
@import "_content.less";
@import "_layout.less";

/********  Components         ********/
@import "components/_logo.less";
@import "components/_social.less";
@import "components/_flags.less";
@import "components/_pagination.less";
