.ia-flags {
  display:inline-block;
  .ia-flags__item {
    display:inline-block;
  }
  .ia-flags__item a {
    display:inline-block;
    text-decoration:none;
    background-size: cover;
    background-position: center;
  }
  .ia-flags__item--fr a {
    background-image:url(/images/flags/fr.svg);
  }
  .ia-flags__item--en a {
    background-image:url(/images/flags/en-US.svg);
  }
  .ia-flags__item span {
    .hideText();
  }
}
